.mgr-18 {
  margin-right: 18px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}
.mgr-18 a {
  text-decoration: none;
  color: inherit;
}

.mgr-18:hover {
  opacity: .5;
  text-decoration: underline;
}

.Main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  background-image: linear-gradient(to right, #000000, #434343);
  padding: 10px 20px;
  height: 60px;
}

.header-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.front-desk {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.front-desk:hover {
  color: aqua; 
}

.Left-main-header {
  display: flex;
  align-items: center;
}

.Right-main-header {
  display: flex;
  align-items: center;
}

.apps-section {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.app-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.my-apps {
  margin-bottom: 5px;
}

.apps-section:hover {
  cursor: pointer;
  opacity: .4;
}

.my-apps,
.bb-text,
.user-icon {
  color: #fff;
  font-size: 14px;
}

.bb-text {
  background-color: rgb(44, 40, 67);
  padding: 30px 30px;
}

.user-icon {
  margin-left: 18px;
  width: 30px;
  height: 30px;
}
.user-icon:hover {
  cursor: pointer;
  opacity: .4;
}

.Main-menu {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5eee8;
  border-bottom: 1px solid #ddd;
}

.list-section {
  list-style: none;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.list-section li {
  padding: 10px 15px;
  color: #000;
}

