.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal.open {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 800px;
  max-height: 80%;
  overflow-y: auto;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}
.modal.open .modal-content {
  transform: scale(1);
}
